.photo-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.photo{
    width: 100%;
    height: 200px;
}
@media screen and (max-width: 480px){
    .photo-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .photo{
        width: 90% !important;
    }
}