

.picture{
    width: 80%;
    border-radius: 80px;
    margin-top: 50px;
    
}
.group-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-title{
   width: 50%;
   margin-right: 50px;
}
.About-me-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50PX;
    font-size: 40PX;
}