.Heading{
    text-align: center;
    color: rgb(94, 157, 212);
    
}
.Image{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}
.Details{
    text-align: center;
    width: 400px;
    border: 5px solid rgb(0, 85, 134);
    border-radius: 20px;
    margin-left: 35%;
    
}
.paragraph{
    text-align: left;
    padding: 10px;
}