
.navbar{
  
   margin: 30px;
   
   
    color: rgb(16, 65, 99);
    
    text-decoration: none;
  font-size: 20px;

}
.navbar:hover{
    color: aliceblue;
}
.link{
    background-color:rgb(124,185,239);
    height: 80px;
    display: flex;
   
    align-items: center;
   
}
.header{
  text-align: left;
  margin-left: 50px;
  color: rgb(16, 65, 99);
}
.header:hover{
  color: aliceblue;
}
.nav{
  
  margin-left: 350px;
}


